body{
    background-color: aquamarine;
}
button{
    display: inline-block;
    background-attachment: #7b38d8;
    padding: 7px 3px;
    width: 80px;
    color: #7b38d8;
    text-align: center;
    border: 4px double #857e7ecc;
    border-radius: 10px;
    font-size: 16px;
    
}